
@font-face {
  font-family: 'GothamPro-Medium';
  src: url('GothamPro-Medium.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Medium';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAFHYAA8AAAAAnmgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAABRvAAAABoA
AAAcUJU7CkdERUYAAEC4AAAAPAAAAEQG/wVYR1BPUwAAQcwAAA/tAAAiGEEGrxZHU1VCAABA9AAA
ANYAAAHufp2NGk9TLzIAAAHQAAAAWAAAAGBBLUJCY21hcAAABXwAAAKOAAADntr8wb1nYXNwAABA
sAAAAAgAAAAI//8AA2dseWYAAArEAAAwqgAAYTz1847PaGVhZAAAAVgAAAA0AAAANgLzqoxoaGVh
AAABjAAAACEAAAAkB3YFPGhtdHgAAAIoAAADUwAABXxW8ki9bG9jYQAACAwAAAK1AAACwEk+YUht
YXhwAAABsAAAAB8AAAAgAagAR25hbWUAADtwAAAB5wAABCxnhncWcG9zdAAAPVgAAANWAAAG2oGG
TkF42mNgZGBgYGRwWrI9b3k8v81XBm7mF0ARhvP7jS1g9P9d/6NZ5jDPAnI5GJhAogCBew2WeNpj
YGRgYLr1P4HBmeXM/13/N7DMYQCKIAPGeAC4Yge5AAAAeNpjYGRgYIxncGFgZwABJiBmBEIGBgcw
nwEAE58A8QB42mNgYvzNOIGBlYGFaQ9TFwMDQw+EZrzLYMTwi4GBiYGNmRlEsTQwcK0PYFDwYoAC
F0cg4cCg8JuF6db/BAZn5lkMJxQYGOxBckwCTHuAlAIDCwAnhQ/keNptVEtIVVEUXWefa2CUmVJZ
lphpVn7zE+nzQ+IH86WlFfZ6CkVBpOSgDxYNHpZiEGVQEVFiNGoi0SCkoqGDchB9CSKiBg2CXpAP
IsjX2sdnmHhhsc/dZ+99z1lr72sm4R6zg8gl8rHTfEWFPEG29GGz3YVCGUO2WYwKM4ZqotCMolxC
aKAvw9zAVtpaiY9+ldcoMxexSg5jsxxFjtxDphxDgQyhTA4w5hRrDcFnVqCRyGaNemIv0SFrkGJf
o9QuR5q8REA+w2cTaIeJIQRsInzyCwFTiQNSgGXyhv4u+g8Ry4lW7t+K2VfcC/H7g9ggEbTId6R5
QZ7lPbJkAknyFNvMONp55gitz0xiq7RHp2jPShNzhuEXH889zHsEUWB6mavrbvhNGppNWvSX1Lt1
m33IWPrliov3a5y5zb1JrDU3kcG9emnDKtuBdKnl3XaTn0KUkOMS04STtEUmzDPEuJc6lMh5VMsL
2lEk4yNKpRflrLfPVqHUDPC9E7m8X6ty73yTaDHvUEdfHdeIYUROoEnysEH14fs55x9gbqfLmYkD
ud+kvM8HbxkWqRZOh1kwldHfqgXtT2LK5iJvRoe54LlqaIudFrOhWtxhPeVPeZ8HdoxWtQj+D2rw
Tfmn/UJ8Z68W/NNhLkJoo013WsyGaqGa0WotuYA8E0CWtx0+L9Hl5aiOMz2juskSbKSvOYYW4jEx
SNwnKrWXbJLjG8qTPYr10so7fnI85MQ4m9Ie9roR53XFYrSfP2ClhKmzzsA433UONPc3FmotrwpL
ZADp1jKHcDl/EKczoLPhuA5zfWt6flz/s6a9xruw963Q/wwNXiNrBRifinX2Ln2Kj0j3Mtw3Mx33
l/gPaGYfvyU/IX6XnNsuxMsCnvEMfYpdRA8M580vx2Pc97gZ8MsWahRBsnJrT3N2tPf76W9FhR2E
345w3Y+lPINf8l18qt1H247VTuNuWPftKtbRWZqeu7DOnr0IYy+ztxnjzqA69rjaAZeTSA363H+p
msh2/6kI1xGuI1zf5N4oasw3HLEpqPUm+E87iFyi1DyPPtLZ81LRrLMlD9gbquVVrP43LyHskeJo
2Ba5/tD3GtdjIceVYg/9+4mg2/9BTq9Pw0uYhs77Xz18GEkAeNq1k9dPVFEQh79ZrghrRRF0Rbhc
BQuoYGdBmquAggg2moAKIdZYEkUjJKLYsGHvUbF3Y69REjEaG1JiYmTZ+AeY+KAmLl5vFmNMfPDJ
k5wzZx7ON5P5/Q7gRuv2Q4wT2WVk4soVKTZiFrG0wUIpuoRLvEyWmVIspbLD9NT0we2s2yOlvZKq
5Ch5SqXqrVpUf1VTg9Uw1ara1AuBvoGaZtLctU5aF82i+WshWqKWrxUGPf9S+6X+m/5d0XWjhspR
gx0n6ZJvsEsMdo3pnYstSkclTclVtqtd1e6qn6q62BEuts9vttcf7ILfbHRd/6hX65V6mb5UL9LT
9BTd+qNty9eW0BYfZ6OzwVnvrHNWOTRHgMPf0cthcXg5PB00728Oaw62J9ht9ih7pH2YPdweZPds
+tz06X2Fudy8xiPTPbN1Vv9puZvMLiX4q4pg+nUz/YPR+tINxdDOnbZ44ImZdrSnAx3pRGe86EJX
vOmGD750p4ehcU9D9V74E2AoEohGb/oQRDB96Ud/BhBCKAMZxGDCCGcIQxnGcEYwklFEYCWSKEYT
TYzhmTjiGYONsYwjgUSSGM8EkklhIqlMIo10JjOFqUxjOhlkGk7LJocZ5JJHPjON/texno1UsJN9
HKGK45zgFCc5zVnOc44LXOQyl7jCVa5xg+vc5Da3uM89HvBQRrOEAgqZIzEUc4xFzJNEljFX0tnA
AUllqeHnKRSxXJIkWSbQKJOYzyoaOMNdVjObhTKRF5Im41lAicQyizLK2csTamS4jBCrRMpIGcUd
mcpjnolNxhq/ZIxkSbZEs0IiJEriWMtm1rCFTWxjO5VsZTd7JINdHOIwB6nmJXUs5jVvqGUl9bzl
1U+dIr6yAAB42i3CXUjiAAAAYPfvpm5z/s2fzTnnnHNOiUMk5IiIOOKQ44iIELmniIiI4x4iDgmR
kB56kAifRCSih4gj5AgJCYmIiDgiJCIiIuKQ6CFCDjniXo7vMxgM8n9pw7ihaDgB7MAUMAsUgArQ
BM6BR+AFeANJcAAcAefBDXAPvIUYSIJyUBnahNpQB+pCf2ERXoLX4SP4CSEQAXmHfEEWkSJSQ5rI
KfKA9FEfmkbn0DJ6jF6hPYzAFGwEy2JfsSK2jm1h+9gRdmE0GgeMk8Zl467xHIdxCU/h4/gcvohv
4m38kSCJJPGRWCN2iDPijngzsaaUKWNaNVVMF6ZX06uZMA+Zp83b5jPzrSVhGbYULQeWa0vX0iMH
yQ/kPFkid8lL8p4CKSclUglqgipQNeqYeqIZepDO0nm6Tl/Rb9YB64S1aK1bD633DMywjMaMMFmm
wDSYW5vRlrR9s9VtB7ae3Wcfts/ZN+wNe8eBOoYdeUfLSTozzprz1cW7PrtWXC1XjyVYnk2yGbbE
ttlnt8c95l51N92XHtKT9OQ8JU/Dc+OFvQlv2jvhnfdWvA8+0bfgK/savg6HciynckPcR26BW+G2
uRb3zNv5FD/N5/kd/o5/8qN+0T/lL/q3/Kf+vsAImpAR8sKasCecCC8BJfA+MBMoBLYCh4GrQF80
i5o4Lk6LRbEh/hJ/B9EgH0wHc8GV4FbwUgIlRcpJFelY6kh/QnJoLPQ9VA41QxehnkzKojwqT8rL
8rbclK/DfDgV/hSeCxfC1XAr/KDAiqpMKnllX+lGwIgSmY3kI5VII9JVaTWpTqgltar+UNvquXqt
vkSJKB8djS5EK9G96FX0WUO1eW1ZK2t17SHmiU3GlmK12M/YjQ7qtK7oM/qa3tbv9X6cievx0Xg2
Xoi34k8JJpFNVBPVf29LzHUAAAB42s18B2BTR9Lw25VtYTDusgBjY1u25YabLMu9yl2ucu+9Wxib
YtlgCL0cNaGlgCkhpBHSG0lI40J6SLuQkLt8B8mlHskRuCTo+Z/d956KbTi+u3zf/4GfJMu7s7Oz
03ZmZxlrBv6hy/gkI2JsGFvGjnFgmAgnbyc/b5FYJUdOYrmLN7rM1iHtfWfuvx/tuN/jPvZBfNKg
jmDG32VZ1gpdY+cz4wQMZorg9XOAZQ2QGJVIqZCIxPCyxH+rX+va8+ikTMaqz2/cSNsmoB3oKWhr
RdoiF2jqTV6QdNbGZvZL6cYm+HuwNXuOvkB7OXS6Ddq7M/MYRqGSKblHIaaPREYfmUomdoE/tM2t
7vVoXeLe435kTo97VQ98ntsz94j7/COeRw52Hu+8C/7B28GDB5HtcYK7iIkY349z8BVmLiNjghjG
WukvV7lJlaFIGRWtgkm4ScX+cokncrURS0RKeyRxdXNJgj/6y5HXuq6U6vKFbUsaintKY1KzBjqW
NhWFRgauC4sKjmludSityZn5ikeDtqhjWlzCzOT6CIfnPZoPdU5rwbYnrEJl3kHsQ1bz/X2CnWBY
Jnz8nyJv/AozA1bCnfFjwhjGxccfkFBEuklcbURIgazNfkeR0VH+Mh8bVzfTpw+ya+ty4DmKmRaW
QQf5X1lnn8AQb3jQa8KH+s683C7ysIfImk4TfkWPxpfHww97O/cO9JGP/4Rvx68xsxlfJgQQldvI
CBoqIypiabRKaiOWIkoVQETi6hKpksObG06ua17ccsuuOF1NSeftQ/5+deFhOnZ7TPR8mV+oTJ1y
Z12afUPNgpo1Kbm5OR3NOcvihmMLIhpT+tESV6W/LCTcP5TVJx4IKAiJI+xKeIfymRXDuCNgmgTp
5maeXejfk8cH0Ub8BuEsa19HP6k9cnWTolL2WyRR9ra19W7ZiwP2Fmcd/exoFm0fDu2HufZSeRKC
NVVZObbRpkok2cK1LN5nOAdt49AoWoSfZ2CxXFRiuUquksoVYpVULBXLpY/Zt/oODPi22mcKH9Do
cE5iZGRizrDwDjCymG4ci8thjRk/JXAxsBdwrwSJT50aOHWq+wXdC/AD7XzGFzBnmI0glYBXNFCV
NIZFD5tZjhRrNTsUTmlYjDcuKi6kYszEMFdRI9LBajEqpbckBgVcXboUvlfDXwkc+J6MpV5LZRCN
fzW+EruKPMn3YuCr2eiVLjZhpWj/tWZOnmPHL+M7YM2nMxKgJOU6L8J0/pHRwhKjrg3H7kf2997/
4VhTa2FRk907d+x7793b9723YFtv9w54CF5z4CUEvwgahlGARlEpnB4ZnXOyHKtlrQmGZA73CBgw
GJ8mbRVKlcBDYlgOyl322AF5SyJ+zI1NiQjNCa6IHqzqWOmqiI/ajvKb3koqDo2Mj1SpNVmLGgJT
01XBQ70EZjDgHwJ8MotgD+KsoHgHI7nKG8gj9kREgFT3tJUXdCvVFbmxrs+x76F3Xq4d2Gg3UlQb
H6GIzT/TU/vazKaqpmWEHr7wsgTmMZ2ZyTAAQo4UTnThFE7oTvaAFK3tam1lj3x5VyV6k01tuwth
JCF4hAEeCsBjjgUeMh+iXCXeYkGUw2/VaaqrkzXFKclpua7oEPvaDFVMz4Ztdj1VpekxyuR5Eaii
74jrQG/PKtP6lMH6uDHeFDJVVopI0FSEdASsq42cjkWWyg0V63OCg+/atrgprTBHU2Gd3dC9eddA
iqZwZUGRXU7w8vZ7PipoSBxpyVz69vru7FhlRrYyOpvh+AeHA/5k/RAhHepGcewY+o59BRf11hkO
AgeFj1/BmbB+zqBB/XluocqB6gYyP2zExNn4CcUv2jPavunspvbR3ff3ZmXqMuPWFZWOlk7vr16i
jO4s7u3VtkfH9dcuQPvjQwNjY4NC2W2JoWHx8REhMP94mH+F2fwpZVWcYiJ0MI3K8WrwSFt6QYmm
WpTU3r9h5+BQbtnBR1blF6Wl5NmV1qfpW3KH2zs35ZY9df9Z1JUbHZOTF6uidM6B17exI8xSDFJP
zBo8OWvXrkXrN25k9SBNYJ9AVrk2jnwbc4nNWXs7J7Okh+FvFoKLmEwmH8vwIKHvfKT0k8xEWMbK
0Hn2DtSWf773/OCBMYpHOXM/DsISAQ9viTU85egDNgR9gO7u7/+1v5/CqwN4cRw8lRIgWkvqUBsA
O58PkBad7yWwQCbQP/CrjAsjhVZylcCRPDM6YMD7HVfrp5OUVbl5zdu6V+pqpuvWnT9kLe4Jjios
WrCgvqrJsfg8nbtyvF50ANYhkkki68AooxhFpCcGMDIfuWk5QEkSNlSYVgQ+g80QmX2B/vE8OBPj
T1YfHlQv0HaGqCvyOzdV1YXbNYVYB/nGaL48eu/FL0+sXuQ88pRKmzA/Rht3iBl//DGE0/q25w/d
kpnZVdq5MzfB4ZrnTG//nuatf/r6nmNfpnvmoYS61PCE2jRFLODrCQT4J8ixGCQZOFqBZHJv8BtE
nihqAEWtymIfz178ox6/aEi+917khmYR/6Aa+hwEGZgJ3OZJ9Jg35S/K2TKRoFmc6IdgVI3i9Elh
rZv/sPSNY4lZKfEPv5mStf1lfDIpLKszKmx5bSvaFREeFMZ6RobXc/qP8PKzQMNZgqaFdeAEmSOZ
CqwYOrD3zTfvqlkRU1jf3rp6TUtCbURh/Bq79/btPRujrKnY3tW5Y35oUVISWV+C7/uA7zRiqQi2
FFG5gGg1sj7y7nuHN23qW7eubxM++cc9u1/rX9vVuY7gQvq2Q98ZtKdE+F+Nxewi1MAeRDvwSd0T
upM6vm0LtLU1a+tUjW3ZAdTEHsAn+1/oZ//Kz+91mJ+7xfxCkZEPQFK8nWzQ0UNn3rqzcllsQUhV
cuPqNd3NWY+ioBV2b921+4Ow8Dp/v50dfVuUq3vYc30c3cj4+wVcAQN4ZPBaPYIKRkbYR/BJ9jyS
GdRIzn5C2zfB62fU36Xtm0aI4wPfS8avoL/A9/ZgawUdDX93Fdv8vEVbnKpRJIymJk1fqC3JUKM3
2Eh9apJp/NOm8ZHCFslEYgmMn78Hhg7f9fc+wGEMNbLvswtRfP8bfJ8M6idzOJPW/YDHY/1GmKLp
8Hc7+ndwcWBKIpnIqXr1hx+uHjlv9SlAfBzlwayusE+gbNaOh3lSWAcFImRATtUDaKm+gx2F9nPR
BWj/E2vP6U2RFNbCFqSfsfIS7LqVUS3jLPalt99FSW+zIW+vXf/2Wruze3d/AE8LYTF4eP4agvGm
ExgCfwUjiZOJw1yHtx/Qb96WUVKcuQ2fXNm7cPQLVJQZm5DKUBy+FXkBDvaMh8mbpGiIpX6RxK0y
2i38Xmnd0AGKT1YRuyldOVSo9wWs1kvy0jjE9PVqH5/2ap2qgKK3g8fvAV5ejfiJXWRymTmKMcOb
qvOf23F872NpBZqMR/FJfbu2x429evkyakpRxSRw6xEMti0HbJu3hf22NLeAp5RzKArvWZ7btSg2
PaV+eMG6ru26tKY6ZWJ6y6K+TdP7K2siAuVhbh5VtdULK+uyw/0C58+aW1/WxOntAMC5EXAG7e7t
BOIgkTkhm89xzOc4d2DA8ARtUzj+Mz4KbRw5OSIs6sazqg3Sbz4wUn+0bmRsxv7d6FZ2oLGztQHe
B/cdpH09x3/D73J23BoRvkIolT2/4f2za9nz1qDuvsRzwB1DjO/4b1Yx4OMC/1mLSDv4EclmIDTr
8tp7Huh84J5bLnc/8ADp8Qu2NVzFYkMyusra0jH8YA6P8fKARAqpSiFyga5+zPjPO44/tOUyu+Op
p1ErqvztN/Y+9nZky17laOwM/Z6h+grmziHnhALYb3a8cnoL+w1yRcfY11E0W8N+zbUnTDTK87uS
c0q8JanoLrYfh7Mt6K4adLmvhrXrI20rx0fRZo6uUidCVYWkEilOnVolSmowrGygvvDP4Av7cL6w
NSHM02xCF3pFcIaJ/hpFC3gYSgVZHaf4U6fAWjTglQ3XXuL8b/Q9OomfI/R1USmkMrk4Zk/5nrr2
dvT9u++uWUPHYccbcfX489TnBqQxrh2rr4e+y7AWleKr5HsXYP4rw7purB2MOEJkJQDWXIxngW0A
D9RbpjSZVHOjLVaarAUWD6X0FPYtaczPSE/OLvRu7hhcvDg6PTYlLiSxMFVTUVBW6TZdFefdFLKo
Z9hTEhLgG5TE+ZQaGEuHz4FczqbcTqjlxDsF5r7kUF+mXp/Z17pz58qUisrRmpoZdSX4HPt5y64V
y3d11efn1Tfm5TZwa0X831nYnUiioPvNTBu1bCmL77xr8UptXnJuakVVRk5KTnCb3djgwKGa4rSW
rOzmtOxwBYdfBOCnNeHHQyPqTmmxL/Fv2bmjtTcbcNw+Ck51SuWMXStGb6tDcw3+lS1dBLe6gjyA
R3ALBdxcOO/ctJ319kTUO0He1EihpEV37OwfWovZZdNLEgpSs0rYvyIHm8w4Va7d7cODY4f1bnbJ
WcnJLSg2sSCfmzesFurBfyG7J4KfAjxigqwEUPSAfavMqSM9PTgoXxEm98r8wyZ0rM2/MjjIvn1m
kUcrW0nnWg9zdYeZykyaJxGZLT81UCKy8+dWRbWmc351c3F53oLmrduadHn69KwNKTU1K8srDiXX
xGgLA5s2LOzfUF3I1q5Jz0KR2pUlxWkpJQRXDRDXH+jqzNkkSgQwOxw5nTT65PbKVn18tDINFvlC
na6OPYFCktIzE9mPuHUpgNd38QdmPjJAKVi1XI+bBgcNB7Cj4RJpN/7P8Tq+nQPfzkeuhHlRDVaw
av8cL2fHWNrp2jXrJlEKdPz6Th6/OMCPt7MqBdHlYolG/+mtZz/5w4FcQEvzzcfsHy/k76G018Lr
m9Cet/NaPT5n8OfgiBYATT3o9xJCRdNcyVSFd40+rUEXltVb0ayPaU8iD3Ysqqmr625kH0IhyWkZ
SexHaH5ielYi+7GRfu48/SQ3oJ9jiSX5OB5shr62/D6b2zTx4sb7xVlDY4cuHTy0NLuyNjOrstZu
7MuDY4sGDnY1Z2e1NGdntnKy2wiy687JhlTAgnrhEpVJdjWc3Lb2Ze7hRHcMn6ikclv3E2uSXMJ/
jZT/OFlTWvCdr5msncvU8dLGPswJ29g/W6i4lRiKWEHWKI3QSjyHX0NJtFQC/T2QRh+zWlzSjB2X
rrdZ2dN+hq6fN/hjr+LZzHxzmxuKw1ColYUC8URgdhWeImJ50bLW6PIKebCD/xxP27nycE/XnuKO
mvCSdLD6MjmahmThyrm66YUlqfPm2kucp9mKpjnMmRfumVOZUB7pOdtp7kzYec2Q+CplReUMjb9c
Rb34IPFwpD5KJ2OkxskVNIPExrA3PV2/dWuq3Dfc9g7k1rljRydrSHNucad7OtBTXrAfdDaz07xP
CZoKYZ4b9PrkGbo6VMR+QLgBBRkuldTR+c8Zv4ZjoD/YEim1waJ/fLJq67YVf7LCruwytMbwHadj
vMaviRKxM40RmdvqN+5f1r24Y0mv/sHeJUtJn92ol70NdRu+Q13sHq6vJ+VZR7oeLoKtlos9X3p2
zfDwLc++vGbVLcgOWR0/zo6zPz79NI9XHcXL0eQnqzj87NFTafGBfj5zfBw+u2X3xtGzXgWHvapd
3X2wIzuENhi+KE6H/lHECEJ/C7sdhSLYc+gU+w6K0KLqFi17tIWMFTU+iB7HbxC/yJo6W9RrU3Lu
F4nLSmkcljh21PUiPhgaW9WEFUlz5iQpcNMqSXkkjopSKnBk+ZZZ9SXiGNt4Ra0i3jZGXFI/q2iW
Km66ckZMipNTSswM5fQ41SyOLovHVzIfcb4AsSyLm4wxMcREAk6PcjiRWCGPiICdXCUgEo8knOTC
r1lmaEjM0NsyBQZFE9EkvgdzET2GVhI+VHEBMX5DCAIJg4ymOylCPJsdJNIZxk8XJSkJAVJ315TE
AKlFbF5EKM/FMFwULpKytZv80/2wYuNGw1sydJJVy6Bt1PiveA5+CfyNeTBLbnLxCFQuDYKLSJw3
GInlLpT6Z10LW+5cbOtQ6ZyqzJH5pOakZlattHEKTk4um2/TPndr1eCYpso1rkDmwD6DUjLayt9F
6ag5K7KEo2cyIFdsjPvRaCgn3tTqUjMJW8rkwsJCfd+GsnqP2ICIuF9+QRkFs0501upG+/P8fNPj
qjrv76H8chkfgT0F1Rn+coBFglDwRmnGgySJAlgXKbwRC89trB/p2+dRk49wQf283R1lgyF1PpmR
UcWSj7/B+Js/SUrjwtT+lWGDdrf0ls10n2df1rkyIzkjLCQ1tmyOi/2csnh1aESKOofOB9YI3wF0
diMRQjIbeDj5IDOh0cK5L7744oGvtj355Oa/jcHH9qqcKlTDfor82LvhYztnT5Xj9zD34F2cPZXy
MSflwMBA1a+/osu//kraxMG+JAloF8DEGLWksDFR+U+xOaHRCi7cIhe+d0OZW6ozNGXFMZrFLT2q
rhr6mzwoumBJM/zq4RMcnZzlTV+nN6izFG7znNzTVJVzZUnphfC7+yzJPGf31JjKud4p6YXIa95s
Ny9HZ+6V4FgFfu0d+Aw3D5BdiTc8yGuEfX4Ea5fAP/iLEvajtnQ/KmGCzXek1mYWUDWV52iDlezZ
sx+g0LPsrk3PPrMRnq0lOl1pZWJYZJQiXR0ZHRmeavfB7l0fwvPwCxvXP0ee9bCNH4iPnp8XHZUX
Fqam+R8lmoPS8QuwbnPIHsbF5GHzDrYHAr1NXHY58cEAB0DhQEh8WrRvQKYs3EUZt1ItO4zsd3oF
z/NK8UC3hofMD59hnegSPXv4AZ8AfVzcAz5znGeEuUi59Q1hAnEg+hvo95kM4ydXkgyCNfeG3rr7
7to1a9h7jx6Ft8BPp30WduLhMO6N8lgJcwUHg863JvkDUKFOsFvZhz658uAC9sL18wBWFnT2JVIy
NaXlTnzsVCwl22WlsF2eTOtp9+YGzgsLbC+vz6+XBQTI6ieR+lY0EugRFRJnt2316pe8PObOo3tY
XInuxg/TvQ7gV4jKcWVVFUeXDLQc7QTdM4NEwhgf/0REvCEP5GpDyE5RhF/Q/DWtrWva3ilSRQcG
RKPlTak4tbERXubFyrE8JgZeCCzGEcfiAs7XJJQwz7bkoW/Ysy+9NHDqlGNn59i+vr17+/Yxv2c+
9PeEhZgxkKMhfn8ITDLWrRvG2iMRg+RveeCnBYBNdeHslbmjQVy/PH1KRLRar49ujpsNrh57VqXJ
S0SBhkvaKt/n+bgD+ojGcojOopwfD7vvaueVY7uGD1xequsapjEyNfMDcwYt5fiK5JF+IIkkxKwe
r0Ex0JvYS7lK8X13dc3dIat/bxqImBCQ0Wr8Ip8btciL8oJp5OGXUsorUuF5F3lt8w0Jk8GDdlam
JFeSZygu7okof78o8lBdC7IYaZJFEnySWHNv6A8ggrVH2Qbydndg6ImHwz+b9in39jvP7/8qLMwE
jV/F1hSWVNizEconI4UQ0QdNfHFdBU0SFBuTBtSreIVLFBjzBmQdafxddDuNv9tbRODDkEpqGYUP
IoEQYyT+NRoRuTEMWDaxJYxwIiwmGFRqTDDWUxhOE2DQ8I0lmPsW9S9qzM83Qfrjzp3p6RPgeE6Y
z2R3zRLoEOeyObpK7YyfTCM8Txw4t7nEmXMjOFvxY/Xy83a2GE3Fm1fLEQKorTVNnxpds/kPUGmi
eBvzdRxEM3kSkexIUFhGdUYYCqKQ/z7H1282PE0/6vEDsuiQ1LT5UTJD6b334tN+c2b7koctIrkT
TPYmovPAPw40VoxMGQXQNoC3k8wOrccZ7CaUwz6JRtjp43V7X3HlUwwU6XghR1JDcyQkhyBX8eHX
SVkSMRrsKhwdm5goUY2U3h2ySHp6nUWyJC7RiuNxmvMAfiK6xSLrgYCfzDIf7BeEITnc8BXCjjfq
C6xo3vchwohCX8KGQt8N0Nd5Yl/Kgubdc3gGFCBQ9uNzU+3AEzN4CptBEfEsYQbmIuUHAQbHDXj8
V5IXgTlQP41ETIgcNY100tka1NxUAd8mWAi1RTuYY9NIP50ZaUelC4//A9rlwbxENMdG29H5NI18
LcyCtOamwIjGWWifAnMgcPkYj4B704iUQ5l04PEl3gv+keZIZvPRtUk5LmLmh/LyuEzX5s0k07X5
xAkUqEN+xnTX4zp+DU6C/NryUSE+e+IyxV5LyKgkTSW2ZlkW/J2F5Iq4nAvQzZbLuE6VdSFx34mZ
l2eA/hOzL5iha3FzMGF1JsJ8CdZqMky6bgLMDRTmnOvBpCs5EWwqt66TIQtrzMNeT2HLr0eDyTSf
ONDgFLSfOCq6YkF/K37sXp5W7lOPLuxPJo6IXAgDTp4ZZUbEpDE1OAGXEb5VUbeBOw60o/D4cfLz
0EOFx2sKHuI+PFRwnNJCAfjMA13mArhw0V2xTNizkZ02cLIf4hSblOAnBzV4bKA6XN9S8+4B/h2k
OSUmu2P9pY71oeypGLsE5YLW7bs/SFD2t8Dbh6gzYEd32VF4Uti9AcDnNHck2sU4Mq5TZI+IwJsy
SA8D403KIuFrvP39l7CAAiZYrwDDTQGLt8MCrPUASzpVVotjNxM49gzHaZNAigRWA/pyMHsofrOm
wlDYihrBtpE1ngKmYC8xl6OCOU8jFs2YpaJzNWaq+mCu5tkq/KNJzw9RfSXhop8KIWNq3F9Vj+yz
yJjqVvYMLF/0X1k0Y0pj9OMsjsdfMF4kGssdPlQKJprEmvnMBdWCKCC3SJu1UBUamTS0UteySLd3
8xCuwzFRYXG2JaryYGVmHGuDrvSN9mh1iYpb6rqAZlye6SrNMwXcZKaJcM0Ns007gJGuk3FCrxJ2
+jfHJYrtRuPeAwtx3XHJmgjjXqTjBt/kuDw33nBo9iuOQa87PO83cuNfoOPH3DS9p1CQN0LmS15H
StzsjJ+uh9iz5krTisfvDL8uITeLoaBEb4RVFhG269KHihw/vmg+HT+UibvZ3KeP0Y01c2BviE1K
dQZ4tgO8R3s9tF5Om0+83BAnwb9l6BpeFm3E5KRuCFlD6aS4kXRCPpEciXLhc4qRKmMc7lL5wOIG
TcYtmYBa2/rIjEVL1iCSaowvTM0qXbsiv2cMOZJsYx77qzbHwUqRHpMcO4PDcyGgWVFtTEBWV6GY
xIJ89qLa39+ZYM7nYGtoDna2ue88IQsrRq7dRdULLROxgTXJd4cskd7aaJaMnR8pInPncqdXqafg
ecPsKTGKN8iglhMvZ3IW9W+8n3Pz4yQj0MXXHyeXeD5TjMP7Ptw4F+k43jcch98f3mCoEN4bmmI0
3khZ8eOd4eflc2MKCvbq+kMepU7KFAMKPv63NCd61dLH1+o7iI/vaLhkPG+gBYZRWLQDZavVLyQ+
Pm3H+/h/hXbxQK+JPr5WL/j4tLXRx/8B2ofzseAJPr5Wz/n4tIPg4xP6FOP/4s49GHP9cnLqWkF9
LJpssUiTJgzevrYlS921NFwft3lWS1h7VWjQHr26rDJDra2026vrXBO4TZmsLJQFJ4fckrYwrf+u
juq05IrytJRq/vwDzYldAFvvP2Umdyr9a5bdtZ5C207M+OKcCXsDLv97lcZlZ18vA0x2BxOzwBIi
NxMzwYjbqt00XOK+TIRL5GQyXM5hE+BepHDnXg8uzwsTQXfycjEZusl34+BfoPADrwt/ioWYOFj0
FKsxeWTLrRovl83ApxzdPK5LOUEkJ4zaTeVw8gR5R1IE8lWEQ/AiQQ5caGSay/Bo0SfsB8uWLUPB
CxacXr2abVi9mqOJF+C0EPS3K1Dcd9J+wYbbMKjMNwxiN5SlVfvoilIPDZWmy3QKz7RDLHvOLySn
6khO9exPZXbBvlWajsGDwf6xPrndAwefujSrNSdyuCUnIvhHKZEFLod9BWTBbcosNt0xmGWyy8ie
YWI2G9cZ9wz/Eh5hRTN4C8i+YTI8476Bg3cR4M2+DjyOBc1Afs5vHSZBred9Mg7mGYrjnKmhCstu
BtaO7h0mAzXtHbi8+RVuvzQpc05mPil7bgXTn5hBxz9zupc/63HOeNbD6WbPeoiG+UNa5oc9RDx+
Z4T90iQMBWafhGUlmfokNHlmF87hOJqdwyEngRCN37TQ85mkJkSpImd6JGKJt2QoL2/49dfRQuTm
NiBFCvanhIHEN/qFs4VIKZwBMvZxWqjRDGk0KFA6CD4GexHe2McozeNBmJ3pWUmgkTdnP0yhMT9Y
Tc5oPEQCRLheCEAa7urr61u3jsSIaJCsH33GnYzmdZPoC0zipX6kZoVqBhKE5OtUzNw8fzlQTXD0
zExU6sDYocVpOplPd8rQGmLGtdTHW6Me8JUt/Ag5ijOIl3chs7xanVFRbXfwwqH4SEXcYb29KzXp
8VGKBBSblJ/P/kRUS0sWd/aHnlEVbQC/JeBmTqmKiAVViG9wWPVJIif1i25wZhW222lpO2Fs7qzO
RVjTqJs/rSNgcHOHdnbw2NzU2R1cRxGj68Xt2Xvont3RfNcuSLFx5z6LMLLF1v1nysSYO2tKY2KO
5qdWEDcDs0On7IMcmsLhU3yFRwTz514uXgeG2QEY9msOhnAQBvwnDgZiAsd/Q9/iF+mpDO7UXHQy
IlWQhPnosUIbB3JgQmyPmnxdnaRePmJZUZOzQ3Ghyi/AAzSh3Yod/vZl1tYtVl6+L7bVFeTbtU73
C1S3vV+YReAXYC06Cjiazq8W8H6c4MNZtuFwf4nD1wzPQlyM7qZzJRlcucItEiwUSt9ZZ6113eCq
tcbFBZnJyZm07bMALxa/zuWCFZJnR7F26VKg1waA0Qt7P3omjplyS4fkFts2XDx5f4aYE+O1SAf+
KXio1jbkOIiCGEikq2lxKLdpOGITF+Pp6+amtiFtE3EOehL8Dhcyt8nexcqpfDtLXw4zMTCflwTf
mfhW3vD80N09zF7q7B6irjNvv7i6qje5c+UKpUIpJDRIOlNCuNNUSekmlaifKG98btP6ZxrKH2f/
npvfX1m1sCC7NVy6o3b9PUfX197qFt76mn1vfuWSoUpNn91rv3fuVcgxkHm5mE5yiMwzFquJBJ03
qxKhVsAwXagWIXP2H78k8gacPCbWwoGLTY68ewuHFnFUdJTUfV68JielQzPyKk5lx+v7u1evcnTu
tY1LiU1Ssz/g/AULXklfplu83JTDiaC5CVuO9hQ7p6/Bjn6PPmYP0+QEQWeB4VGh5ub5STUptHgO
+plOB+3f+8abd1aOxGbWdZcvd0Rx7Kv2KyqS6iILYzfYvbdvz/uxylKtrryrcmB+aHHC/3LNwNT1
LJPyKS7G9VI4vUqWadaIaXUMag7nf68GBjPW4/+0yqBr6m/smSRKBPXG+yTeTjJSwulnjHQGB9k5
u82SyaWO6LODQ1u36tmLP8xN0OCZ+zNyNZl3TJvRZuMQ03R8eNO1wc7uEZyffPCjgflLEuOjY/l1
tlLDeM5c7oer+jEOBQxOjkHBKMOoYOShgXXrl7KfsY+gM0c2bDqET7I/IGf2B11L+yBKZV/QLWjn
5g6YU77kz2oLjEhO/XDs+d1pwoKNuu7Vw9mpPfmE915LX9j+4yvpeZnsZSP/nab8B5JGcn/IrCII
RQIbsq+b1wUJ7GhRHgRwZoMP+pJoC+is2ZwGVXEpdsSRVsWZMBv07GjpjDyXlCRJ7nT2lezUMHlY
chj72aZzp9ayfy/G/8hLtVer7VOvPSmrddNgZ7YL7TGcPwJzrRrvprX0M0gcWSZUTUlQwl+HUdbw
F7t3A0s8ivMN6t3c+v736+U4Wuyi8W5XISOpMM/PwfLg6Wz/y4s3bhp+7lBp0danQCwP9rd29usi
kjpMOud/suaO6guhDovWrVEtwakHmMN0oNOXdHzuZE20kxIoJQLuELtQlp6urkJ/q3BqZ13salD6
1d3I6gSKbzE8wl7bDZ/Rn4t+Zv679XTAOVZh0NaFRjvlIpktUpixEa4d1r13G3Jlf70VRQ6jyFvZ
X5Dktvd0zyxnz6CdKIi9jR7z7WU/YnVItVw4I3wZF4GeIwaRGlGqdGQ8Y1mcqqVBS5Tdu2lpcu7W
wZZtienN6+MKK7MLC9SanPjB4rQF+LXukoWRLqWpVYti48rqYsOjItuVESHRBUXdwlyPGevQnGjt
GqrWo+ZBPSkHZBEaN6gRy2KeR45RPne15HNjR/SKGYunCVCMnP2SBcB/ux4P9Bc+xJ3ZNNdexCIR
tWWurf4y8tPchDyTfjKoQTkd/nhh8H9St3fz9Yu/R+0eMsomje55c+Ph+BH2WZpizwfu/0/r+37v
etabq42jetPCfgmq8v2J2nGGpU4k+7qLojb8Ic1BkhizkkMaTGakm6ONTCJ38jErXkZbDp08eWj4
0MlnDw93Dg39V9fSoU53zX0bN9yTlnaMvXSf5mm0vrOmtrOjrqaT+Y/q4qpBB/0g6GpvwdaJ8FLD
X0dQ9nCFk1FbP8r+Ru+WYHA/tHcidKLJEicFF+An0vDzwvLu5SNpKQ0lI0gSv1CHRBfSc1QolngA
HP/+3ZIXyQN21GUEuZDzHY/gAvqoBdysMum5HjPcOPxE717bRPpAz3IzFHk0gb9k8HLZlA8lK6qY
cH7j7EMo8ODQtq3DY/sz8jRZd4DJpe6AjvMDqH0Q5fA8KjXPqppgIIq/CUrmneg3mIgJDnu/4P9w
PL/MxPOToVlCMgdj1LOHjf4kqQUgjA47PRIEMF5lYYNSGjbEFkbWJVWO2rOnUazj8vLuusyY5RV3
vvmGXUJCcej8gcqucp22VBn7/p597/G4gdx/BbCd+YirHJQTobQA1N+kAHate8JpcGRkkfOTa299
7vkfnloy9NRiu+Pr2Y9BmXy65kHhdo7tW8ntHMK9FkPGWlkXzkclUkZOZyk5kfV9Ib/6D3qkGr7j
+G2PP5pRUIjEkr7Sdr1B/dNPqO5ScqwqlfnfrlVMAHo3gMzOIGP5me0MaRYuyUrlJ7W2R2Ij3QvS
y6pS08oqk1dut7b3mJ8Vhrxc2b9kJ1nP6tB07Lqrri5D3VCfoa7vOrQzLEubFCufntCU7JAfFxC/
q3fBfs4nIfkBb+xI+dbTqBnFlnxiTOlrkENhQ1lfV/UdG4PDIsJWL/ML8pePYsesRK3/vLZ0TaPf
PE+fEl8Pd2++Bg/2jo6CPyJz0qAlBuzYyVZy83UYvwV3wN85f0SpiCZGSiEm/oiKOHCuDrHxaF+e
Yxu71a7oz8dXfLXkx1S28qsVK75CKZm3cjD+J+sdweaLmrlzyAoXucIF+NOFr9MDV0Zs+84ft3yq
/2zLH9/esKdYX7wHRX7OGpCIPJ+zb39Ru3Zt7Re8Hr+MPgAcfSbc22Luo5iOOiBmQ0Nsbm1QXIwi
NTVIEeFfmRRdsbJCp21cYldclBzo5elbIfd0947WaIqSSn196tV1fL1eKODKZ66iVdRYa5YcLR1Y
/Bt2ZPd/t8RwCbyEMT4nFIq/hPkZ/RTBTeH7oeWjpdNzJcskOdPZZTyM/LwU4qWkGDotwPFj5/B1
V6BljLWMQ19ufevzbWPl2NFgAIqcq1nB0RWN/4pl0F5i5p8oqXviai/K9giydXSRuHs4Tkfb9Hc7
eyiibMQtVnYR1YfJkMcW7q9VOPLnR2Dc9cZxpRR1sdxJM3T30aHho3djx59/Jkh+/y17yNhebsJT
QeueZRKN/mu9/mvs+NFHhksffvi71S9y45F5Gv0SIgEf6y+SkDE6RqTg965xNNUmc34KqTYQduce
6IbVyQcGMM2IN2diU30yrf9BXwhz4PyU5+5Db9+HjnXycvyf1tCRu8oaRdmgr8ldXGETKzPNCSIH
q88vgLcxzuKGVobnNC5Z2pih0CsyGpcuacwJf3t+QMD8pLRU1JKckpoUFBIwdjp0x4rRncpPPlHe
Orpie+hpgwzZ+dUWFlVVFRfU+rGXZf9m/aAGdFgv14fzGeh/MbrKlg1dGNI4rlgBU60kq/0Vd9cX
jGED7Yk/Q+eZiHh/BrgRbSkoLG7Rh8vVifpXAyoK3zrhHy37muYXSJ1vgpF3jf81+peHXtYLQ6Bj
XNvxW0RELhwscKJ4iVwMsbRLnoMJMw47THCi+pjf41r6MFRjHd6Jpg/XL+qtXzXYEBm2EN3b8XSp
tqS+uUDmz9uSd6gOuq7/Yk1xXgAg6oY6QyMVYe1oB6DPQQnwl/n/QvMpnI5y5GFNCUmj1xMoqwYI
lH5zEJTO7iAHYjyH4GHkSZlSwXku3FVSV9aWZ6flxZfPeOftGdqY4qTUsmUgF3bNWeq82ApVTlJe
1aELY5yMXhYFASxn/rSGXEbvXDD6KuaKAXt3bnaoGRqqcdzSsXjnbYPqvMI0dW6B3YqWj0DDNK3Y
v3hwrKspJ7u5MTe7GWCD94PtqA0kvopqSl9l7s6YdF0zstX3Lu9esTJcFXvaqTihoN5w6ZFH0MyD
wX7+wYzF+QsSI6PWRohqutzALmpJ9Ex1XePInV4wHLyejRSNX8UB+JxlRb9QeW6qTuJiT2Dc2hTR
EpdZipSE3nR9drb+scfSWqvaum2dG6ZlJcxPVGclsv/AYZVabeXWel3dYF0ff4aBj0GbxUFlTo91
64ZPE4+CBKENDwqOBacD3bm15/NZfBSUr5Eks09ZdNedi5eVpSYVx5TOeOddu/L4vLTscruxC4eq
8pJyVBVxueqs5v8Tdds3exeBaPzvMPkI03kU8xjpE2SVpXp+NR/ku/zb9xdgYsNFOuBbd+KrClYc
GzVGMKLG3BghzfbxA6vu7jVvJhh1Ire/UcuOHuPEl1j42aWPbqdCzNv4Tl6WMZMHk1tIa89nGy23
cRww4Hx8NA/s+HD9YE/9b1+j5sGGJujywgsvaLXF1T/91JybxfMrfy+EcMrejD9NdyXkUc5Mbq9s
08f3pnH8uIWceXkTOdIzLz8Zz9bkUL504PgSmXk/P5LwqMHoAgk8avKEhBw68cPmWPhhE20oWmDy
xq5MtKdGv+zaqxMtq2CfZIJ9kvF2QCZBzGNDXw2dEGyA4dIKIX4oKuH9FaXChUQQGzqcSAxxN/ub
4VGjT7/N2EZKfBrc5gB+/YqvePmLYX5Bf0K9pnrNsV8GB7nvRblm34ucue+T0VHmS/wiiTO50DJ4
WmeukCRrCsgtc+jo4uJCmyiHdFDomwh8OTrIvM3FpVzMb6WL4u+kOxjloCb30S3m76MT7p2k92FG
y4VLJ2vF9NJJZw13cR0meKC36X2IUqI7KSakYtvbHCkkJ1hFsbdaIpdhu8kCSwIP8ERPCDUdyBxT
a/Nf0FwOb/b1yfjbWEwFYMJc0MP0Dk168vG6MKWWMM3u1rQxu62PrMkPqJmLkahcxEp6+adE7nKv
7bDershOP2z7A3KxzbJdtw5e2O85GUqDl14+t6AifVTGjlL68pCdXj9tmp5C4D6Q7ocPC4C4TxRW
J/M+Wo2+p+Ob1T/+HKctjY0r1b5fkhBXoo2PKyF7VZJf/IBZJ+g3b16/0cO5JavYpeRnHf1H8BST
u2et7uTvnp1N756NZdIn3z9rxZ95kLj+q5tova9zJ62obWcN+dXw54l304rS+Q/s0eteUru7U/hm
qrtq+RtrCa1CmEAUSus6GRVXWn3WvKSatlFCm2ihDS353GFe6knvbHpmfD/6DV8R7knNRO/r2PnN
osprx7j1/f9/74AVsXmiCzTuPhP4bJ55HZMf6A5/bldGqqh5z6tgMYpb3sOexCJknT6qLR3VPpzk
H+Dp5Y9Psl7oLwY1+o51/YNGs75sWXnZMpdQdWiojzfnN5nXkXuRyOx1KvadLGocpi4ht92nLqxK
y8rxDQr0y5lUPr4NLctMSFIPPe2b4M2fo0Ib8GYhr4T4XaxSLJNL6HUL5H6FsuS6usTYBpsG9tuG
XxrQBhS1cyf75qe33fYpGx3N/s61scQfvYCfo7BobgygzEVBgyjY8A1qewQ/Z0jvQ4/9X67vRUwZ
CsBBaK9Qj1+GPkQB/dxdhON/H2/FVaLZ5F42qUgsV7nAFA2PlIm33MKM17En70SN4iIHlsXj1/Jo
fCyYuVckBv9PyniTmgqjjpImYbqJgG2pPYZ96cRtqdu5wsb6gvjyCN+AvKDC+rqi+haf4NyAhKzC
aFlQEDrqGxjsF5+de29XUWFnYlygXN4x1rXQL8C3VVseKfMLC/f1Cy/X/s5rm8bcjlOwD+zTvanl
pAdCuLNd9G7iCV+sTvXo9b1fGu+c5tHn+6Cbe+C0iV+gIfvdynj7XUrvX+x3RcU73BblxZ2Ri8fB
eA13vwt/tTk5NsJda+79VHFi8a6Sr1CQujix/PaS79j34me26TbqBugr9atssRJ3ceewiaeg9KO3
yGrQ16wUnm1ooW1X19YTAyeWDA5O1d6PuyWWtJ+F+tnt6G+kPTRecmIA2peNn8dB+FugLjlFI3KB
zb7cxV8uQjOeeKLjqacilxbJh2RoPVrP6ln9QuT2VC37HZlXDS5Cu/E3pJd5di/GlNPDRXwqj/Jh
Lc5Hu6h/Z+7dxRidOaPr9juvM4l//5Xe0xbMZZcm39Q29bfoz+QCN00Ud4Eb63CD69wm3u5GZIWM
mw3jirhTxmT3iaYch2YyT69i55kP8C2/nZkAmY8HENhqOqfZ17t9jkDtsIQ4ERa5M82KwBKd4vEM
YxQ3wvR61FM4iZJ4/KcmF24ennI6U82Op53oJL9mYf+9VSPY3GjlAJV/gQQhy/8D/hNoNAAAeNqd
ks9q20AQxj9JjpuW0toQemuZ9hBisF3Fl4BuweD8AUMwJteiSBvLIGvNyk7Rg/QV+iSlb9FLH6Ln
fJLWpm5NC7FB+9uZnZ1vZhbAEX7BQf27w3fLDtrO2LKLZ4627GHg/LDcQMsdWD7Aazey3KT9i+VD
vHV/Wm7hhffGchtN7yNvcxrPuftW3Vyygw9Ox7KLV84nyx5i57PlBsRtWT7AO3douUl7bvkQgfvV
cgtH3ub+Nl567zGExhIFDOaYIcEKghNE6HAdwK/+gik9iuslTyvcI+XXVPaC0aVnRM8aGWLaC3Rp
ueIuQr/imP0M98QfV5Gm2in0cE1/RsoZJzjnuZTrZKstr3alv4x44DfmSQz1sjDzWbKSk6gjA9/3
ZZooudTqPlVGpsVSyUivs9gUXbnKon5X4rtw6z+WkVFG9a51pvK+nKepTMrbcpmoXJkHFTPHBaWt
KCLEgiJumF5zHVcS5ix9wSN6lYQLuTFaxiqer2kqxc7oTRlnuFWzdRoS6obutmPTzD9bWTcyYLb/
awi2YztjkkTZEssObBrA+gP5S2pQtu1st8w6QW9fkQzsbWq8rdTnPFAOT6rspxxL/Xhwq0w+15n4
/mmfk3lSiqe/P/zzIewf62+DxK4yq+cR9j3D4QB42m2TZVBcdxRHzw9IgLi7u2ef7JM4BOLuTljY
DZtSQqGkTS211N3dvVN3d3d3d/d+bSFT7n7pm9md82bnnnP/b/aRx97rnz304H8uVbR8kUc+BbSh
LYUUUUw72tOBjnSiM13oSje6N8/3pBe96UNf+tGfAQxkEIMZwlCGMZwRjGQUoxnDWMYxnglMZBKT
SeDg4uGTJCAkImYKU5nGdGYwk1mUUMpsyihnDnOZx3wWsJBFLGYJS1nGclawklWsZg1rWcd6NrCR
TWxmCxVspVJ5XMnR7OEhzuFbjuEUTuRirucq5XMC73MUZ/I7f3Ay53IcT/Axv3EJN/AXf/I3V3AT
z/EMN5OiitOo5gXSPMvzvMKLvMTLfEeGN3iV17iFbfzK6bzNm7xFDT/wE8eznSz7sC+11HEZO9iP
ehpopIn92ckBfM+BHMQuDuZQDuFeLmc3h3E4R/AjP3M/7/A5X3Art/ElX/EAX/MN1/Aun/EBH/IR
n/Ien3ApF6pAbdRWhSpSsdqpvTqoozqps7qoq7qpu3qop3qpt/qor/qpvwZooAZpsIZoqIZpuEZo
pEZptMZorMZpvCZooiZpshJy5MqTr6QChYoUa4qmapqma4ZmapZKVKrZKlO55miu5mm+FmihFmmx
lmiplmm5VmilVmm11mit1mm9NmijNmmztqhCW1XJ7dzB3dzDk9zJXTzFkTzOsdzI0zzMIzyolKpU
zUmcx3VcwPn8wtWcwUVcy6mcxdncp7QyvK5tPMpjqlFW2wvrUo31lVXpwqa6bCJRUlZcmclmnUTC
9Vop6Ri5RrlffaOkUWAUGkVGcSsFCSNrBK0NxzefYxbHLI5ZXLO4ZnFtU9f2c83n2n6umV0zu2b2
zOyZ2TOzZ8/As4ZnDc8anjU8a3jW8K3hW8O3hm8N3xq55+Jbw7eGbw0/95xtIrCJwCYCmwhsIrSt
QtsltF1C2yU0c2jm0MyhmUMzR2aO7LyRNSJrRNaIrBFZI7JGZI3IGrE1YmvE1oitEVsjtkZsjTh3
jpyltdHMRo6R/XcTnpFvlDQKjEKjyMgajjVyOydzZ4sKypsaduy9DRyv+eWsb0rVZhtr0tVFVbsa
ShvSO9MtkGqBvEwmP5PJNn9q/3vTE/8C6uWdSwAAAAAAAf//AAJ42h2LwQ2AMBDD7AMJ+mEiHpQt
QKL7j0EgkSU/EgS2sPOlWJiCrGnRPNBupzy94rdPfDiymf8HL1eBA2F42rVPuwrCQBCcvZwiFhZJ
sAhBgoVYiIVY2VkGhPQ+wBBQhGAhNv6DX+SH+Ds6t4liYSVY3OxjZmf3IADamGIHU1xOJTplfj4i
hmUfjwcMg/moBB7s7pQXiBST8rDPMVAcUeR4h0ZRFIEmOuiihyEmmKmbcGcVt2TdjitudXYXW3GS
1HFK3ZivxboNHxES2XBTikzWGhey4mQmS+JCN6c/zbjrLW+N0ee11fVWuUDR/8gDVXsInXetbXzR
/sNT6Of+JrAyp5vPXvDmwhdH9JRT5gkNiR+oAAB42r2af2xU15XHzwX/nNh4bI9/MP4BAUMQWu9u
gADBZmMFh0CaUHAJCQaytEm7W7agqmFLdxWidFdazR9d1LWqJopGVdo/pmhBKyuKpWjU1m13oJsQ
jWi87j45TKy+iI6SvGV5QXl0o0hvP/e+O+OxMelKm6yejt+ve88933O+99xz31iUiMRkgzwuS578
m298TZZ97YsnT0hSqnguYSj6fel6CXdLZOmTX3/665Iwf5N/9eVvnJCVvFampRaJWkmdxKXTPi2d
v8IbfX4FiUk1kuBJg/TJdp5/mSMpf8HRJX8nL0i3vCgvyUb5V45tcoFjQH7FMSivyev0+A9VJfep
jWqjHFcPqJ1y4rPSuuI3xgffV5vVoNqjvqteX7J/yY+WrqtaVTVUtbNqb9UTVSer/qHqparfVV2v
buHoq56pkZrRmvM1+dqh2q/UPleXrDtfF9Qfrf/b+lfqP4j9W+y9O/694WeNJ5c9sexy09qm55pe
bLoSXx9/Kv5m3Il/gDjNDze9GH+z+fvN11s2xN9seaplpnVv68uJdYmRxNnEvyReSWQTH9edb6tp
O1pzvu2X8fU15+Pr2y7Hn2p7u81rP9H+rfZvtb3dPtb+k47RjnTHyx1vdI50Pt45hrzU+fryuuXt
y19JfjP5veSPOH6e/F3y466arr6uzV1/2XWi65muH3T9vOu97nj3H3c/1Z3p/kl3nuNKz5KuEz0r
e9b27OVY2fOlnmfaPO5e5vh974He7/D3OyuWJLIrTq745xWXiUUyDPDblvCXcm/4K9kW/loGw1/A
irWhK+uR/tCXDZw3ITuRB5FdyEOhJ49Ir4xwvR85QLtTnC8gF5Fl0hem6T0uw4ywk9YP0mIX54c4
j3Dez/kA7x6DCynanuX6Is9XSSt/E2Ee2zzscLDDwQYHGxwsTctWet4bprA2jbXPWu2B0b6bdw9x
/Yg02VEYISzKwfCcjIZZORxOYaeDnY4ZbTr01dbQUQPIHq73IaPIIfS0YoUr7WhI0rrPjJ5hZIeR
CzKAhYPg206bg7Qepd0hrg9zfYTrp5EUbW+GGdVB2zs/FVyLY8r9rzH9mbSER7CkwPyLSRutNb6O
8IfSyfVynmtGdNGym/s+rClZ2o9FJWs3g3M774fDSawcx8osVo5jZRErs7IXlPuQEZ59gfN+nj3K
+QAWP0a/x7k+iIwih5DDyBFQaJ9pJCnGPYvuCNE4iIoyy/vrYU7Vh1kVQxrCvIpz38p1O7Kc+zWc
1yH9PN8TFkFeBHkR5EWplSZGbkZaQNnGSFFkrzKqL0oNyxYyUkfocTVIbmwxb9/nrpd81WJi5/Fk
Fs8E5mmVedpm2rk8SUiN6ZUIb1jd18ptmxk9LXH81sy5JTwZscHEwKe1x8jniEGRGHj4P6Cnr/2h
7kH3Zq0/HMO+pNG3jszdRJtmpIU+c2iiPsOwX8/q9+CTB598+EQEpdHY4MgqfNkXfkBsp4ntNHGd
Jq7TxPVDw/Gt6LyXttu4HqDdIGPfR0x28vxBZBey28zlIjEuEt8icXWJa0Bcf0pc3yCmv5bjtDmF
3hQ6LnC+SLtpPHwPzNyMbAnHYeq42oYMILvCNHHziJtH3Dzi5kk9RwyrbpSxDHAeNLMuMLPusEYP
rgA8Hng88Hjg8WgZ0FLnn8DOpMDOosDMopKGQ1bLKfpcQC4avwfYSDSlgbGa8Foz0mK8p2fGZWaE
ngkBtk1h2xS2zTDia4w4yez4DR5zZIi2WvtRzqnwshriWd08e0Yq7DhsciCxl3raa8ZEbMmSFWOM
Oc6YY+gOmHlFtPhWSyk3+AbVAaPRtxp1NvLlNJKi/1n6XdT5QRJqABnC4zt4Vw+qwHr5XZBcs75z
QeHLMKOfRWqwyccmH1uK2KIxFdHhy1r8n7ecukQMLhGDS8TgkvVQYLObi24XvbN2XXAtn9wKPrmW
T0X45IEkZ/KEzhERny4ZPun14gLXerWJOJUnXvlb+NMH68fLrF8873pY9o/lvBsxPYqOtmrE5NtK
SyrzbbCA0Y7Jvdts/t1F9l9oUcttGDWNR10smsGaacsmvcbkiPhbZTZFTJo2TEpWcETP6Cwa0vQO
6Oka5m/X0dM4yAiPIQeJ4ihyGDluVt6s8eS0NM3jxB7u9yGjyCH61WBzYOystE8zfVlFjinO+Q3d
I3Z1Nz6SGDpj6IyhM4bOGFo15/roGXGkxI8i1hcN9zTT7zOeL62vvmF0CrmHOfKGzaoZ64OM9JDz
epE+rtdi4XpEz5kNnDchm+m5HZYPh2ew9QzsewF7zxDnK7DvBXk4/E95BNkbvsoK9ioYzrCCvQoj
X2AFe5W59QO48A7MnMSqSay6iFWTWDXJPPsxDM3AjRnmWxYrM/j2DDyZwQdn4MkVeJKBJxk777Jw
4wrcuAI3rsCNKyavRzOspWKWDZhaIppp28A9RauU4XQz5xakh1a9hkXpclbv5/lcZi8aXmwz3ND5
07N5JIsfsvhhEj9k7Qo+iR+o75DP02Yv4+xDRnj/Bc77ef8o5wNwLlrNHXzh4IuCXc0dfPEavsiZ
7H/arOi6wsvaVSCrV/TynBkKU/jCuWXF1kgLNsIFG+E0SH2Q+gsi/HxFhL0KpP4CpJMgzYF0EqS6
is2B1Aepb5EWQFoA6SRICyDNgbRgkep8VABpwSJ1QFqwSPM26gUb9ayN+iRIXZAWQFqwUS+A1AWp
C1JX6ZqxH6SByaCrDDKdRfMgy4MsAFkeZHlTdW3lfm6+XbVZdApUDqimbBZ1QEUNjHzerAtTIHFs
rDxbeTkmTpHleSz3KrJqHsun5mXVHVwvzGM6Pjni8yyWjxOfZ4nPGPFxiI+ul8dAkQNFztaOOVDk
QFGwCDSvr4LiAxufNEjGQPI8SMZA4oDk+QVMnCA+EyAaIz4ToHqe+EwQn7StPyZsln6N+ESV8RFs
O877U1yf5n2Kvme5v8D9Ra6nYd491B6bkaHwWZBOgNQBqQNSR+k4d5vKbS1ZeD2yAdmEbDb5NbBV
kWerosDsjaKqSPvaw5ooa0Wr11uM/JathOaquz1c70PIckrXC23lWiZiQFTPzO2lPLMriHZgnhlJ
78Ci0bx59UwUUc/sDNoXWf8yC/YdYwaD1vyYqbGyaMzNW/O03QvtrWGV9WFvgXw9UbbjMBI3q51+
W6pYo1ZZs5odxA+RxXrnVDS1ylHqEyoG1tCAiATswxqMbt+sgbererQVx5HTZsVBA6vMVlavbZwH
ON+Pth28W2bt8SrscdA8XmFPcYE9kR1d0oBXGpEmZkcz0oKsktVyH8+GqBSHaX27WlPvCY/S7jht
ziK6xtwivdi4Ght7sXE1o0xhp692kREUNuXLfnUr/BqxSVe8nvHIcJmDUWU+vyoPbFVeikjEw9M8
i3bcOg97cNBjZA/2B7Y+iTwU7ZhWYcmch1zroQLaXHDpmkRXmOBBA/MaHJGmdryVQItenzN4awIt
rq1dr9kvAtfsF4Fr5ovAERvFqE69hocS1kMJ66GMjqRhlVfm21DpW0IZqS96BSntxY9GWsus0hoa
KtjkWzb5lk2+sSGqkzV7YqZHD0jO4XW9Pp+LqnJTn+SNXyJUc/VsZS17oFzD+HZu+tYm11TmEVq9
TvhEwgflOUZ0TWWuR82a3U0zZ13nzR/Vm5d/KnNPlBH8eTucaNRS/D0bf7PTYdRsmQOdJuNFc06P
FFhuF+wXoAIjuYxUsF9/vHl7mGiUKYtNc71QznT3w/ESrv+rNxfi+sPejDHC1CdE3TdRZw7eJgPP
76nz5Opy7wOL7CiPzNtV+szqDvvXM1/ffJi8BexzX5V0bTZRrqNHKvZypepX19MOfX6L3GRe6a8C
H5qvDO2sup6tpvWXqhw683YXkTZ7gd12fxjNFNfm3qnyTE6Z70e35vfOW/bWW9AerRylUfR+MWv2
irvNCJp9U6ZW0nWSWYt4d+E2Iyw1viv5bSl5oxcvudJp7n5PDbIV0VhWwpxjMCcFc47BnGPUHBlq
jgzRz8hVnr9Lv+u0vBH+TFWHx1QtUo/EkDuQBqQRiSPoUOhQrUgb0okkkS5kJXInshrpQwaRHcbj
V+HTCmJWQwSyWOfIR+D62Oz+sliZBamu5zye3kAC5L/pE2N+tSLtCOgYzZW7DJ4Ii7Y/jf0OPTWG
HL0deufp7agqelSHOVWD1CJ15ntYDq05cOXAlQNXTjUh+ttYM9JivpHlVAJpQ9qRDmQ5kkS6kG6k
B+lF2CWDNwfenMYLPx0y/wxW/JbzO+CIMGmrzNdN0GtsGr3W7IDJUXcbT2TwREaqZRYs79PiOueb
SIjU8NQDrX7qmacfEWn95s5PjO8svohinLMxzn8mMVbyLgxcZqI4g1URahfU7u0iqdZwvQ65mzZL
DTaNOkRi2O3gPZenDrbrN5HO68aLebyoPeCwK24yyFMm1+uvnlGvrGH1+5YVN+kZ9dD6XZA7WJ4y
oxpfG3betcj+OIsns8aTM8aTGcM2vFhmWTW7lFokhjQi6MCLabyYBnEaD6ZBnQZxCi+mYU4a5qQZ
MYU303gzDYvSeDSNR9N4JY1X0qofuZs2g2YXlJE/ncd7bc3bXGvEn8YcWPYpzoM1yF3IOkR/W95k
50atYXYUnxK75yK51HBT80LzoZZ2zm2zRb3V5M3jx5xGjx55ZlIlc24aPXlZwhiac57U4gEPxJ55
kjQ5ysXi6G0VeANjT9JytMHUZnHGj+qzHJ718KZn2E0FgMciVvdzHtSzQtUzK5Yyjqs6zBie1NEr
oEfUuh1ZzptVpqeLz1zTwvvEFjFGDYzWBjNyYLTPRxEYFPWmVdzMulILzXatLyhjrZ03P1lDKuZm
QFUa1VR5XVNZ2yK/lXpo+0o9tE69ssVNr1KPeouoocJTETIXSzx445XQWe9lpboCWQmRS1wq/bdG
5w6TR8vc+ETflPxSu6BVlJWiFtQaZqWJLRJv55Z46zhXlTN5yYqasp8qfaR3Jo2L+MWr8Etla+2X
wPii+VP5da3DfAea+51x8bou+p2xyfT8dvkbjanwmXfjNgtmmW/jJpPGEf11v9H+ipm2dfYM2mfR
PoP2WbTPoH3W1KPR9y1d481Q2f5//Gq58Je97s/8N8WFIzb+wWpysTqvnspukOo6RrW6jgpvgtoy
IUmyShfnbuRpvKA46/8Q+BPyZq2I+RVIyR0cSxi3kdzaZH6B65P1tOunXZdsMPvwYdkpfyS75HM8
28OxUfbKE7LJ/I/BDvM/BsPyVY4H5DjHTkZ7Wh6UUxy75DTHbvk2x0OS4vic/JDjYerWs8TmglxE
3xsce2WaY584MiMjMivvyKNylXphVN4XT/5c/ovji3KD40vyoXwkT0rI8VWl1FI5pqrVHXJcNakm
OalaVav8tWpTSfmmWqFWyDPqTrVaTqs16i55TvWru+Xv1UZ2v6yaalC+q4bUkPyTul89IGP/A9yx
B5wAAAB42mNgYGBkAIKTnfmGIPpw69M3MBoATI0IJgAA) format('woff'), url('GothamPro-Medium.ttf')  format('truetype'), url('GothamPro-Medium.svg#GothamPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


